@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .hamburger div:first-child {
      @apply rotate-45 translate-y-1.5;
    }
    .hamburger div:last-child {
      @apply -rotate-45 -translate-y-1;
    }
  }

.valign {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /* vendor prefixes omitted due to brevity */
}